// colors
$sand: #e5e1da;
$sand-accent: #f7f3ea;
$sand-placeholder: #c6c0b6;
$navy-blue: #08192e;
$navy-blue-accent: #233148;
$white: #ffffff;
$red: #c8104a;

// fonts
$font-stack: "Roboto", sans-serif;
