// colors
$sand: #e5e1da;
$sand-accent: #f7f3ea;
$sand-placeholder: #C6C0B6;
$navy-blue: #08192e;
$navy-blue-accent: #233148;
$white: #ffffff;
$red: #ff0000;

// fonts
$font-stack: "Roboto", sans-serif;
