@use "variables";

header {
  display: flex;
  flex-flow: row nowrap;
  height: 3.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  display: inline-block;
  flex-grow: 1;
  align-self: center;

  text-align: center;
  margin: auto;
}

main {
  max-width: 21rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

input {
  width: 100%;
  font-weight: bold;
}

article {
  margin-bottom: 2rem;
}

img {
  margin: 0 auto 1rem auto;
}

h2 {
  text-align: center;
  margin-bottom: 0.4rem;
}

p {
  text-align: center;
  margin-bottom: 1.3rem;
}

ul {
  text-align: center;
}

#back {
  line-height: 3.5rem;
}

#search-button, #add-button {
  color: variables.$sand-accent;
  background-color: variables.$navy-blue;
}

#isbn {
  margin-bottom: 1.5rem;
}

#search-button, #add-button {
  margin-bottom: 3rem;
}

#error {
  display: block;
  text-align: center;
  color: variables.$red;
}
