@use "variables";

html, body, main {
  height: 100%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#errors {
  max-width: 15rem;
  color: variables.$red;
  list-style: square inside;

  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

form {
  margin-bottom: 3rem;
}

input {
  width: 15rem;
  font-weight: bold;
  margin-bottom: 1.2rem;

  &[type="submit"] {
    width: auto;
    float: right;
  }
}

a {
  display: block;
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
}
