@use "variables";

main {
  margin: 1.4rem 5rem 6.5rem 5rem;
}

input {
  font-weight: bold;
  width: 70%; // TODO finetune
  min-width: 14rem;
  margin: 0 auto 2rem auto;

  &::placeholder {
    color: variables.$sand-placeholder;
  }
}

#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-items: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

img {
  margin: 0 auto 1rem auto;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;

  height: 4rem;
  background-color: variables.$sand;
  border-top: 2px solid variables.$navy-blue;
}

#add-book {
  position: fixed;
  bottom: 5rem;
  right: 1rem;

  background: url("../media/icons/add-box.svg") no-repeat center center;
  padding: 1.4rem;
}

#book {
  background: url("../media/icons/book.svg") no-repeat center center;
  padding: 1.1rem;
}

#profile {
  background: url("../media/icons/person.svg") no-repeat center center;
  padding: 0.9rem;
}
