@use "variables";

main {
  box-sizing: border-box;
  margin-top: 1.4rem;
  margin-bottom: 6.5rem;
}

input {
  font-weight: bold;
  width: 21rem;
  margin: 0 auto 2rem auto;

  &::placeholder {
    color: variables.$sand-placeholder;
  }
}

img {
  margin: 0 auto 1rem auto;
}

h1 {
  max-width: 14rem;
  text-align: center;
  margin: 0 auto 3rem auto;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;

  height: 4rem;
  background-color: variables.$sand;
  border-top: 2px solid variables.$navy-blue;
}

#add-button {
  position: fixed;
  bottom: 5rem;
  right: 1rem;

  background: url("../media/icons/add_box.svg") no-repeat center center;
  padding: 1.4rem;
}

#book {
  background: url("../media/icons/book.svg") no-repeat center center;
  padding: 1.1rem;
}

#profile {
  background: url("../media/icons/person.svg") no-repeat center center;
  padding: 0.9rem;
}
