@use "variables";

body {
  font-family: variables.$font-stack;
  color: variables.$navy-blue;
  background-color: variables.$sand;
}

h1, h2 {
  font-weight: bold;
}

a {
  display: inline-block;
  color: variables.$navy-blue;
  text-decoration: none;
}

img {
  display: block;
  max-width: 11rem;
  height: auto;
}

input {
  display: block;
  box-sizing: border-box;
  height: 2rem;

  color: variables.$navy-blue;
  background-color: variables.$sand-accent;
  border: 3px solid variables.$navy-blue;
  outline: none;

  &::placeholder {
    color: variables.$navy-blue;
  }

  &[type="submit"]:focus {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
}

#back {
  background: url("../media/icons/arrow_back.svg") no-repeat center center;
  padding: 0.9rem;
  margin-left: 0.8rem;
}
